.image {
  width: 115px;
  height: 150px;
  margin: 2px;
  object-fit: contain;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

.title {
  margin-top: 10vh;
  text-align: center;
}

.searchContainer {
  height: 40vh;
}

.searchBox {
  margin-top: 15vh;
}

.dictionaries {
  margin-top: 10vh;
}

.flex {
  display: flex;
}

.q {
  margin-top: 1vh;
  text-align: center;
}

.dd {
  width: 150px;
  margin-left: 49%;
}
